<%- include('../partials/header.ejs') %>

<h1 class="name-header"><%= `${user.name}'s Food Diary` %></h1>

<div class="overlay"></div>

<div class="wrapper">
    <div class="food-search-container">
        <div class="food-search">
            <input type="search" class="food-search-box" onchange="api(this.value)" placeholder="Search foods to add">
            <div class="search-results-container"></div>
        </div>
    </div>

    <div class="add-water-container">
        <div class="add-water">
            <div class="tooltip">?
                <span class="tooltiptext">1. Select measurement unit.
                    2. Enter how much water you want to add.
                    3. Click the plus icon.
                    // or //
                    2. Enter how much water you want to remove.
                    3. Click the minus icon.
                </span>
            </div>
            <div class="radio">
                <input label="ml" type="radio" id="ml" name="measurement" value="ml" checked>
                <input label="L" type="radio" id="l" name="measurement" value="L">
            </div>
            <div class="water-input-container">
                <i class="submit-water-button minus-button icon" data-value="minus"></i>
                <input type="number" class="water-input" step="any">
                <i class="submit-water-button add-button icon" data-value="add"></i>
            </div>
        </div>
    </div>

    <div class="food-diary-container">
        <div class="date-picker-container">
            <i class="previous-day icon"></i>
            <div class="date">Today</div>
            <i class="next-day icon"></i>
        </div>

        <div class="cal-panel flex">
            <div class="cal-intake">200<span> Cal intake</span></div>
            <div class="cal-remaining"><span>Cal remaining </span>1800</div>
            <div class="cal-progress">
                <div class="cal-progress-done flex" data-done="0"></div>
            </div>
        </div>

        <div class="nutrition-panel flex">
            <div class="total-fat">12g<span> Fat</span></div>
            <div class="total-sat-fat">12g<span> Sat Fat</span></div>
            <div class="total-carb">12g<span> Carbs</span></div>
            <div class="total-protein">12g<span> Protein</span></div>
            <div class="total-fiber">12g<span> Fiber</span></div>
            <div class="total-sugar">12g<span> Sugar</span></div>
        </div>

        <ul data-meal="breakfast">
            <li class="group-header breakfast-header flex">
                <span class="flex">Breakfast<i class="breakfast-button add-button icon"></i></span>
                <span class="total-breakfast-cal flex"><i class="cal-info icon"></i>0</span>
            </li>
            <% breakfast.forEach(breakfast => { %>
                <li class="food-item" data-id="<%= breakfast.id %>" data-nutrients='{
                    "fat": <%= breakfast.fat %>,
                    "sat_fat": <%= breakfast.sat_fat %>,
                    "carb": <%= breakfast.carb %>,
                    "protein": <%= breakfast.protein %>,
                    "fiber": <%= breakfast.fiber %>,
                    "sugar": <%= breakfast.sugar %>
                }'>
                    <div>
                        <div class="item-name"><%= breakfast.item_name %><i class="remove-food remove-button icon"></i></div>
                        <div class="item-brand-name"><%= breakfast.brand_name %>, <span class="serving"><input type="text" class="serving-qty" value="<%= breakfast.serving_qty %>"> <%= breakfast.serving_unit %></span></div>
                    </div>
                    <div class="breakfast-cal item-cal flex"><i class="cal-info icon"></i><%= breakfast.cal %></div>
                </li>
                <li class="food-item-hidden-values" data-breakfast-fat="<%= breakfast.fat %>">
                    <span class="breakfast-fat"><%= breakfast.fat %></span>
                    <span class="breakfast-sat-fat"><%= breakfast.sat_fat %></span>
                    <span class="breakfast-carb"><%= breakfast.carb %></span>
                    <span class="breakfast-protein"><%= breakfast.protein %></span>
                    <span class="breakfast-fiber"><%= breakfast.fiber %></span>
                    <span class="breakfast-sugar"><%= breakfast.sugar %></span>
                </li>
            <% }) %> 
        </ul>
        <ul data-meal="lunch">
            <li class="group-header lunch-header flex">
                <span class="flex">Lunch<i class="lunch-button add-button icon"></i></span>
                <span class="total-lunch-cal flex"><i class="cal-info icon"></i>0</span>
            </li>
            <% lunch.forEach(lunch => { %>
                <li class="food-item flex" data-id="<%= lunch.id %>">
                    <div>
                        <div class="item-name"><%= lunch.item_name %><i class="remove-food remove-button icon"></i></div>
                        <span class="item-brand-name"><%= lunch.brand_name %>, <span class="serving-size"><%= lunch.serving_qty %> <%= lunch.serving_unit %></span></span>
                    </div>
                    <div class="lunch-cal item-cal flex"><i class="cal-info icon"></i><%= lunch.cal %></div>
                </li>
                <li class="food-item-hidden-values">
                    <span class="lunch-fat"><%= lunch.fat %></span>
                    <span class="lunch-sat-fat"><%= lunch.sat_fat %></span>
                    <span class="lunch-carb"><%= lunch.carb %></span>
                    <span class="lunch-protein"><%= lunch.protein %></span>
                    <span class="lunch-fiber"><%= lunch.fiber %></span>
                    <span class="lunch-sugar"><%= lunch.sugar %></span>
                </li>
            <% }) %> 
        </ul>
        <ul data-meal="dinner">
            <li class="group-header dinner-header flex">
                <span class="flex">Dinner<i class="dinner-button add-button icon"></i></span>
                <span class="total-dinner-cal flex"><i class="cal-info icon"></i>0</span>
            </li>
            <% dinner.forEach(dinner => { %>
                <li class="food-item flex" data-id="<%= dinner.id %>">
                    <div>
                        <div class="item-name"><%= dinner.item_name %><i class="remove-food remove-button icon"></i></div>
                        <span class="item-brand-name"><%= dinner.brand_name %>, <span class="serving-size"><%= dinner.serving_qty %> <%= dinner.serving_unit %></span></span>
                    </div>
                    <div class="dinner-cal item-cal flex"><i class="cal-info icon"></i><%= dinner.cal %></div>
                </li>
                <li class="food-item-hidden-values">
                    <span class="dinner-fat"><%= dinner.fat %></span>
                    <span class="dinner-sat-fat"><%= dinner.sat_fat %></span>
                    <span class="dinner-carb"><%= dinner.carb %></span>
                    <span class="dinner-protein"><%= dinner.protein %></span>
                    <span class="dinner-fiber"><%= dinner.fiber %></span>
                    <span class="dinner-sugar"><%= dinner.sugar %></span>
                </li>
            <% }) %> 
        </ul>
        <ul data-meal="snack">
            <li class="group-header snack-header flex">
                <span class="flex">Snack<i class="snack-button add-button icon"></i></span>
                <span class="total-snack-cal flex"><i class="cal-info icon"></i>0</span>
            </li>
            <% snack.forEach(snack => { %>
                <li class="food-item flex" data-id="<%= snack.id %>">
                    <div>
                        <div class="item-name"><%= snack.item_name %><i class="remove-food remove-button icon"></i></div>
                        <span class="item-brand-name"><%= snack.brand_name %>, <span class="serving-size"><%= snack.serving_qty %> <%= snack.serving_unit %></span></span>
                    </div>
                    <div class="snack-cal item-cal flex"><i class="cal-info icon"></i><%= snack.cal %></div>
                </li>
                <li class="food-item-hidden-values">
                    <span class="snack-fat"><%= snack.fat %></span>
                    <span class="snack-sat-fat"><%= snack.sat_fat %></span>
                    <span class="snack-carb"><%= snack.carb %></span>
                    <span class="snack-protein"><%= snack.protein %></span>
                    <span class="snack-fiber"><%= snack.fiber %></span>
                    <span class="snack-sugar"><%= snack.sugar %></span>
                </li>
            <% }) %> 
        </ul>
        <ul class="group water-group">
            <li class="group-header water-header flex">
                <span class="flex">Water<i class="water-button add-button icon"></i></span>
                <span class="total-water flex" data-water-ml="<%= water %>">
                    <i class="water-icon icon"></i>
                    <%= water %>
                    <span class="ml-l"><%= water <= 999 ? 'ml' : 'L' %></span>
                </span>
            </li>
        </ul>

        <ul class="total-food-values">
            <li class="total-breakfast-values">
                <ul>
                    <!-- <li class="total-breakfast-cal"></li> -->
                    <li class="total-breakfast-fat"></li>
                    <li class="total-breakfast-sat-fat"></li>
                    <li class="total-breakfast-carb"></li>
                    <li class="total-breakfast-protein"></li>
                    <li class="total-breakfast-fiber"></li>
                    <li class="total-breakfast-sugar"></li>
                </ul>
            </li>
            <li class="total-lunch-values">
                <ul>
                    <!-- <li class="total-lunch-cal"></li> -->
                    <li class="total-lunch-fat"></li>
                    <li class="total-lunch-sat-fat"></li>
                    <li class="total-lunch-carb"></li>
                    <li class="total-lunch-protein"></li>
                    <li class="total-lunch-fiber"></li>
                    <li class="total-lunch-sugar"></li>
                </ul>
            </li>
            <li class="total-dinner-values">
                <ul>
                    <!-- <li class="total-dinner-cal"></li> -->
                    <li class="total-dinner-fat"></li>
                    <li class="total-dinner-sat-fat"></li>
                    <li class="total-dinner-carb"></li>
                    <li class="total-dinner-protein"></li>
                    <li class="total-dinner-fiber"></li>
                    <li class="total-dinner-sugar"></li>
                </ul>
            </li>
            <li class="total-snack-values">
                <ul>
                    <!-- <li class="total-snack-cal"></li> -->
                    <li class="total-snack-fat"></li>
                    <li class="total-snack-sat-fat"></li>
                    <li class="total-snack-carb"></li>
                    <li class="total-snack-protein"></li>
                    <li class="total-snack-fiber"></li>
                    <li class="total-snack-sugar"></li>
                </ul>
            </li>
            <li class="total-total-values">
                <ul>
                    <li class="total-cal"></li>
                    <li class="total-fat"></li>
                    <li class="total-sat-fat"></li>
                    <li class="total-carb"></li>
                    <li class="total-protein"></li>
                    <!-- <li class="total-fiber"></li> -->
                    <li class="total-sugar"></li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<script src="/js/diary.js"></script>