<%- include('../partials/header.ejs') %>

<h1 class="name-header"><%= `${user.name}'s Food Diary` %></h1>

<div class="overlay"></div>

<div class="wrapper">
    <div class="food-search-container">
        <div class="food-search">
            <input type="search" class="food-search-box" onchange="api(this.value)" placeholder="Search foods to add">
            <div class="search-results-container"></div>
        </div>
    </div>

    <div class="add-water-container">
        <div class="add-water">
            <div class="tooltip">?
                <span class="tooltiptext">1. Select measurement unit.
                    2. Enter how much water you want to add.
                    3. Click the plus icon.
                    // or //
                    2. Enter how much water you want to remove.
                    3. Click the minus icon.
                </span>
            </div>
            <div class="radio">
                <input label="ml" type="radio" id="ml" name="measurement" value="ml" checked>
                <input label="L" type="radio" id="l" name="measurement" value="L">
            </div>
            <div class="water-input-container">
                <i class="submit-water-button minus-button icon" data-value="minus"></i>
                <input type="number" class="water-input" step="any">
                <i class="submit-water-button add-button icon" data-value="add"></i>
            </div>
        </div>
    </div>

    <div class="food-diary-container">
        
        <i class="settings-button icon"></i>
        <div class="settings-container">
            <label for="cal-goal">Calorie goal:</label>
            <input type="number" name="cal-goal" id="cal-goal" value="<%= user.calGoal ? user.calGoal : 2000 %>">
        </div>

        <div class="date-picker-container">
            <i class="previous-day icon"></i>
            <div class="date">Today</div>
            <i class="next-day icon"></i>
        </div>

        <div class="cal-panel flex">
            <div class="cal-intake">200<span> Cal intake</span></div>
            <div class="cal-remaining"><span>Cal remaining </span>1800</div>
            <div class="cal-progress">
                <div class="cal-progress-done flex" data-done="0"></div>
            </div>
        </div>

        <div class="nutrition-panel flex">
            <div class="total-fat">12g<span> Fat</span></div>
            <div class="total-sat-fat">12g<span> Sat Fat</span></div>
            <div class="total-carb">12g<span> Carbs</span></div>
            <div class="total-protein">12g<span> Protein</span></div>
            <div class="total-fiber">12g<span> Fiber</span></div>
            <div class="total-sugar">12g<span> Sugar</span></div>
        </div>

        <ul data-meal="breakfast">
            <li class="group-header breakfast-header flex">
                <span class="flex">Breakfast<i class="breakfast-button add-button icon"></i></span>
                <span class="total-breakfast-cal flex"><i class="cal-info icon"></i>0</span>
            </li>
            <% breakfast.forEach(breakfast => { %>
                <li class="food-item breakfast-item" data-id="<%= breakfast.id %>" data-nutrients='<%- JSON.stringify(breakfast.nutrients) %>' data-given_nutrients='<%- JSON.stringify(breakfast.given_nutrients) %>'>
                    <div>
                        <div class="item-name"><%= breakfast.item_name %><i class="remove-food remove-button icon"></i></div>
                        <div class="item-brand-name"><%= breakfast.brand_name %>, <span class="serving"><input type="text" class="serving-qty" value="<%= breakfast.nutrients.serving_qty %>"> <%= breakfast.serving_unit %></span></div>
                    </div>
                    <div class="breakfast-cal item-cal flex"><i class="cal-info icon"></i><%= Math.round(breakfast.nutrients.cal) %></div>
                </li>
            <% }) %> 
        </ul>
        <ul data-meal="lunch">
            <li class="group-header lunch-header flex">
                <span class="flex">Lunch<i class="lunch-button add-button icon"></i></span>
                <span class="total-lunch-cal flex"><i class="cal-info icon"></i>0</span>
            </li>
            <% lunch.forEach(lunch => { %>
                <li class="food-item lunch-item flex" data-id="<%= lunch.id %>" data-nutrients='<%- JSON.stringify(lunch.nutrients) %>' data-given_nutrients='<%- JSON.stringify(lunch.given_nutrients) %>'>
                    <div>
                        <div class="item-name"><%= lunch.item_name %><i class="remove-food remove-button icon"></i></div>
                        <div class="item-brand-name"><%= lunch.brand_name %>, <span class="serving"><input type="text" class="serving-qty" value="<%= lunch.nutrients.serving_qty %>"> <%= lunch.serving_unit %></span></div>
                    </div>
                    <div class="lunch-cal item-cal flex"><i class="cal-info icon"></i><%= Math.round(lunch.nutrients.cal) %></div>
                </li>
            <% }) %> 
        </ul>
        <ul data-meal="dinner">
            <li class="group-header dinner-header flex">
                <span class="flex">Dinner<i class="dinner-button add-button icon"></i></span>
                <span class="total-dinner-cal flex"><i class="cal-info icon"></i>0</span>
            </li>
            <% dinner.forEach(dinner => { %>
                <li class="food-item dinner-item flex" data-id="<%= dinner.id %>" data-nutrients='<%- JSON.stringify(dinner.nutrients) %>' data-given_nutrients='<%- JSON.stringify(dinner.given_nutrients) %>'>
                    <div>
                        <div class="item-name"><%= dinner.item_name %><i class="remove-food remove-button icon"></i></div>
                        <div class="item-brand-name"><%= dinner.brand_name %>, <span class="serving"><input type="text" class="serving-qty" value="<%= dinner.nutrients.serving_qty %>"> <%= dinner.serving_unit %></span></div>
                    </div>
                    <div class="dinner-cal item-cal flex"><i class="cal-info icon"></i><%= Math.round(dinner.nutrients.cal) %></div>
                </li>
            <% }) %> 
        </ul>
        <ul data-meal="snack">
            <li class="group-header snack-header flex">
                <span class="flex">Snack<i class="snack-button add-button icon"></i></span>
                <span class="total-snack-cal flex"><i class="cal-info icon"></i>0</span>
            </li>
            <% snack.forEach(snack => { %>
                <li class="food-item snack-item flex" data-id="<%= snack.id %>" data-nutrients='<%- JSON.stringify(snack.nutrients) %>' data-given_nutrients='<%- JSON.stringify(snack.given_nutrients) %>'>
                    <div>
                        <div class="item-name"><%= snack.item_name %><i class="remove-food remove-button icon"></i></div>
                        <div class="item-brand-name"><%= snack.brand_name %>, <span class="serving"><input type="text" class="serving-qty" value="<%= snack.nutrients.serving_qty %>"> <%= snack.serving_unit %></span></div>
                    </div>
                    <div class="snack-cal item-cal flex"><i class="cal-info icon"></i><%= Math.round(snack.nutrients.cal) %></div>
                </li>
            <% }) %> 
        </ul>
        <ul class="group water-group">
            <li class="group-header water-header flex">
                <span class="flex">Water<i class="water-button add-button icon"></i></span>
                <span class="total-water flex" data-water-ml="<%= water %>">
                    <i class="water-icon icon"></i>
                    <%= water %>
                    <span class="ml-l"><%= water <= 999 ? 'ml' : 'L' %></span>
                </span>
            </li>
        </ul>
    </div>
</div>
<script src="/js/diary.js"></script>